<div class="text-center">
  <h1>Dangers of Driving</h1>
  <p>Explore the pages below to learn more about driving safety through charts and data</p>
  <button type="button" class="btn btn-primary btn-lg btn-block w-75 mx-auto"><%= link_to 'Changes in Zip Code Accident Growth', 'pages/zipCodeAccidentGrowth', :class => "btn"%></button>
  <button type="button" class="btn btn-secondary btn-lg btn-block w-75 mx-auto"><%= link_to 'Accident Frequency and Time of Day Trends', 'pages/zipCodeAccidentGrowth', :class => "btn"%></button>
  <button type="button" class="btn btn-success btn-lg btn-block w-75 mx-auto"><%= link_to 'Most Dangerous Zip Code Bar Chart Race', 'pages/zipCodeAccidentGrowth', :class => "btn"%></button>
  <button type="button" class="btn btn-danger btn-lg btn-block w-75 mx-auto"><%= link_to 'Outside Temperature and Severity of Accident Trend', 'pages/zipCodeAccidentGrowth', :class => "btn"%></button>
  <button type="button" class="btn btn-info btn-lg btn-block w-75 mx-auto"><%= link_to 'Traffic Lights vs Round Abouts Over the Years', 'pages/zipCodeAccidentGrowth', :class => "btn"%></button>
</div>