<div class="text-center">
  <h1>Dangers of Driving</h1>
  <h3>Database Size: <%= @result.first()["Total Tuples"] %> Tuples <h3>
  
  <p>Explore the pages below to learn more about driving safety through charts and data</p>

  <button type="button" class="btn btn-primary btn-lg btn-block w-75 mx-auto"><%= link_to 'Changes in Zip Code Accident Growth', 'pages/zipCodeAccidentGrowth', :class => "btn"%></button>
  <button type="button" class="btn btn-secondary btn-lg btn-block w-75 mx-auto"><%= link_to 'Day vs. Night Accident Occurence', 'pages/accidentTimeOfDayTrends', :class => "btn"%></button>
  <button type="button" class="btn btn-success btn-lg btn-block w-75 mx-auto"><%= link_to 'Most Dangerous Zip Code Bar Chart Race', 'pages/zipBarChartRace', :class => "btn"%></button>
  <button type="button" class="btn btn-danger btn-lg btn-block w-75 mx-auto"><%= link_to 'Outside Temperature and Severity of Accident Trend', 'pages/outsideTempSeverityTrend', :class => "btn"%></button>
  <button type="button" class="btn btn-info btn-lg btn-block w-75 mx-auto"><%= link_to 'Traffic Feature Accident Propensity', 'pages/lightsVsRoundAboutsYears', :class => "btn"%></button>
</div>