  <div class="text-center">
    <h1>Number of Accidents and Day/Night Trend Comparison</h1>
    <p>One thing you'll notice is the increase in the number of night accidents when it gets darker earlier due to daylight savings time fall back</p>
    <p>Another thing you'll notice is the drastic decrease due to COVID lockdown and then the massive increase upon release from lockdown</p>
    <div class="w-75 centered my-5">

      <div>
        <%= form_tag( {:controller => 'pages', :action => 'accidentTimeOfDayTrends'}, :method => "post") do %>
        <% if @grouping == 'year' %>
          <%= select_tag(:p, raw(
          '<option value="month">Group by Month</option>
          <option value="year" selected="selected">Group by Year</option>'
          )) %>
        <% else %>
          <%= select_tag(:p, raw(
          '<option value="month">Group by Month</option>
          <option value="year">Group by Year</option>'
          )) %>
        <% end %>
        <%= submit_tag("Update Chart") %>
        <% end %>
      </div>

      <%= @grouping %>

      <%= area_chart [
            {name: "Number of Day Accidents", data: @num_accidents_day},
            {name: "Number of Night Accidents", data: @num_accidents_night}
            ], title: "Best chart"
        %>

      <table class="table mx-auto my-3">
        <tr>
          <th>Month-Year</th>
          <th>Number of Accidents Combined</th>
          <th>Day Accidents Minus Night Accidents</th>
          <th>Number of Accidents Day</th>
          <th>Number of Accidents Night</th>
        </tr>
        <% @num_accidents_combined.each do |group| %>
        <tr>
          <td><%= group[0] %></td>
          <td><%= group[1] %></td>
          <td><%= group[2] %></td>
          <td><%= group[3] %></td>
          <td><%= group[4] %></td>
        </tr>
        <% end %>
      </table>

    </div>
  </div>