  <div class="text-center">
    <h1>Monthly Accidents Near Notable Traffic Features</h1>
    <div class="w-75 centered my-5">
      <%= area_chart [
            {name: "Crossing", data: @crossing},
            {name: "Give Way", data: @give_way},
            {name: "Bump", data: @bump},
            {name: "Junction", data: @junction},
            {name: "No Exit", data: @no_exit},
            {name: "Railway", data: @railway},
            {name: "Station", data: @station},
            {name: "Stop", data: @stop},
            {name: "Traffic Signal", data: @traffic_signal},
            ]%>
      <table class="table mx-auto my-3">
        <tr>
          <th>Month-Year</th>
          <th>Bump</th>
          <th>Crossing</th>
          <th>Give Way</th>
          <th>Junction</th>
          <th>No Exit</th>
          <th>Railway</th>
          <th>Station</th>
          <th>Stop</th>
          <th>Traffic Signal</th>
        </tr>
        <% @tableResult.each do |group| %>
        <tr>
          <td><%= group[0] %></td>
          <td><%= group[1] %></td>
          <td><%= group[2] %></td>
          <td><%= group[3] %></td>
          <td><%= group[4] %></td>
          <td><%= group[5] %></td>
          <td><%= group[6] %></td>
          <td><%= group[7] %></td>
          <td><%= group[8] %></td>
          <td><%= group[9] %></td>
        </tr>
        <% end %>
      </table>
    </div>

  </div>