  <div class="text-center">
    <h1>Severity of Accident Trend</h1>
    <p>One thing to notice about this graph is the significant decrease in accident severity - this means that the accidents ocurring have less and less of an impact on traffic</p>
    <div class="w-75 centered my-5">

      <div>
        <%= form_tag( {:controller => 'pages', :action => 'outsideTempSeverityTrend'}, :method => "post") do %>
        <%= label_tag(:q, "Low:") %>
        <%= number_field(:p, step: 1) %>
        <%= label_tag(:q, "High:") %>
        <%= number_field(:p, step: 1) %>
        <%= submit_tag("Update Chart") %>
        <% end %>
      </div>

      <%= @low %>
      <%= @first %>

      <%= line_chart @acc_severity, min: @min, max: @max %>
      <%= @acc_severity %>
      <table class="table mx-auto my-3">
        <tr>
          <th>Month-Year</th>
          <th>Accident Severity</th>
        </tr>
        <% @acc_severity.each do |group| %>
        <tr>
          <td><%= group[0] %></td>
          <td><%= group[1] %></td>
        </tr>
        <% end %>
      </table>

    </div>
  </div>