<nav class="navbar navbar-primary navbar-static-top navbar-expand-md text-color">
  <div class="container">
    <button type="button" class="navbar-toggler collapsed text-color" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
    </button> <%= link_to "Driver Danger Dashboard", root_path, class:'navbar-brand text-color' %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav mr-auto text-color">
        <li class='nav-item text-color'><%= link_to 'Accident Growth', pages_zipCodeAccidentGrowth_path, class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Day vs. Night', pages_accidentTimeOfDayTrends_path, class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Zip Race', pages_zipBarChartRace_path, class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Temp and Severity', pages_outsideTempSeverityTrend_path, class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Traffic Features', pages_lightsVsRoundAboutsYears_path, class: 'nav-link' %></li>
        </li>
      </ul>
    </div>
  </div>
</nav>